*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'PT Sans', sans-serif;
}

.container{
  border: 1px solid black;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

header{
  background-color: #0084FD;
}

.card{
  border: 1px solid blue;
  margin: 10px 0;
  border-radius: 10px;
}

.strategic-pl, .benefits, .get-started{
  background-color: #9792E4;
}

/* HEADER */
.top-bar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo img{
  width: 100px;
}

.menu{
  display: none;
}

.menu span, .menu button{
  margin: 0 20px;
}

.menu button{
  padding: 15px;
  border-radius: 30px;
  font-size: 1.3rem;
}

.ham-menu{
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

/* RESPONSIVE HEADER */
@media screen and (min-width: 992px){
  .ham-menu{
    display: none;
  }

  .menu{
    color: white;
    display: flex;
    align-items: center;
  }
}


/* MAIN */
/* DEMO-SEC*/
.row{
  display: flex;
  flex-direction: column;
}

.demo-sec .col:nth-child(2){
  height: 100%;
}

.demo-sec .card{
  background-color: #B5DDFF;
  padding: 0 20px;
}

.demo-txt{
  margin: 20px 0;
}

.demo-sec .card span{
  color: #0084FD;
  font-weight: bold;
  font-size: 1.7rem;
}

.demo-txt span{
  padding-bottom: 50px;
}

.demo-sec .card p{
  color: #647A8D;
  margin: 20px 0;
  font-weight: bold;
}

.demo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo button{
  background-color: #0084FD;
  color: white;
  border: none;
  padding: 15px 50px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}

.demo button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px gray;
}

.fa-apple{
  padding: 0 10px;
}

.demo-img{
  display: flex;
  align-items: last baseline;
}

.demo img{
  height: 400px;
}

.clean-code, .web-design, .develop, .brand{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
  color: #0084FD;
  font-size: 5.5em;
  margin: 20px;
}

.clean-code p, .web-design p, .develop p, .brand p{
  text-align: center;
}



/* RESPONSIVE DEMO-APP*/
@media screen and (min-width: 576px){
  .demo-sec .row{
    flex-direction: row;
    justify-content: space-between;
  }

  .demo-sec .row:first-child .col:first-child{
    width: 64%;
  }

  .demo-sec .row.row:first-child .col:last-child{
    width: 34%;
  }

  .demo-sec .row:last-child .col{
    width: calc(100% / 3 - 20px);
  }

  .demo{
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px){
  .demo{
    flex-direction: row;
  }

  .demo-img{
    margin: 60px 20px 0 20px;
  }
}

/* STRATEGIC-PL */
.developement, .planning{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning{
  justify-content: space-evenly;
}

.strategic-pl img{
  width: 100%;
}

.planning .text{
  margin-top: 50px;
  color: white;
}

.planning span{
  font-size: 2.5rem;
  font-weight: bold;
}

.planning p{
  margin-top: 30px;
  font-size: 1.3rem;
}

.developement{
  background-color: white;
  padding: 20px;
}

.developement .text{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developement .text span{
  font-weight: bold;
  font-size: 2rem;
}

.developement .text p{
  text-align: center;
  margin: 20px 0;
  font-style: italic;
  font-size: 1.5rem;
}

.arrow{
  border-radius: 50%;
  background-color: #9792E4;
  padding: 15px 20px;
}

.arrow:hover{
  cursor: pointer;
  box-shadow: 0 0 3px grey;
}

/* RESPONSIVE STRATEGIC */
@media screen and (min-width: 576px) {
  .planning span{
    font-size: 6rem;
  }
}

@media screen and (min-width:1200px){
  .planning span{
    font-size: 2.5rem;
  }

  .strategic-pl .row{
    flex-direction: row;
    align-items:flex-end;
  }

  .strategic-pl .row .col:first-child{
    width: 60%;
  }

  .strategic-pl .row .col:last-child{
    width: 40%;
  }
}






/* TESTIMONIALS */
.testimonials{
  display: flex;
  flex-direction: column;
}

.testimonials .card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.testimonials-txt{
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.card-container .card{
  background-color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container{
  border: 1px solid rgb(220, 117, 134);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits-title{
  display: flex;
  justify-content: center;
}

.about-us{
  display: flex;
}

.about-us .card{
  padding: 20px;
  width: 100%;
}

.get-started .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* FOOTER*/
footer{
  background-color: black;
  color: white;
}

.bottom{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom div{
  margin: 15px;
}

